<%#
# 网页脚.
%>
<div id="footer" dir="ltr">
  

  <div class="text">
    &copy;2007 Bolide&nbsp;   -   Version:<%#= version %> 
    <%#= link_to_remote "Site Info",:url=>{:action=>"info"}%>
    
  </div>

</div>
