<div class="UserMain">
  <div id="UserHead">
    <ul>
      <li class="pic"><img src="/assets/head.jpg"></li>
      <li class="detail">
        <h4><%= @user.name || @user.email %></h4>
      </li>
    </ul>
  </div>
</div>
<div class="UserSide">
  abcd
</div>